h1 {
    display: none;
}

#menu h2 {
    margin: 0 280px;
}

@media (max-width: 1200px) {
    #menu h2 {
        margin: 0;
    }
}

@media (hover: hover) {
    .hero-content a:hover {
        .coffee-cup__icon {
            max-width: 20px;
            opacity: 1;
        }
    }

    #favorite .slider-container button:hover svg path {
        stroke: #E1D4C9;
    }

    #favorite .slider-container button:hover {
        background-color: #665F55;
    }
}