h1 {
    display: none;
}

#menu h2 {
    margin: 0 280px;
}

#menu .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

#menu .menu-tabs {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

#menu .tabs__button {
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid #C1B6AD;
    background: none;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;
}

#menu .tabs__button div {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: #C1B6AD;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu .tabs__button span {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #403F3D;
    padding-right: 12px;
}

#menu .active-tab {
    background-color: #665F55;
}

#menu .active-tab span {
    color: #E1D4C9;
}

#menu .active-tab div {
    background-color: #E1D4C9;
}

#menu .menu-item {
    box-sizing: border-box;
    width: 310px;
    display: flex;
    flex-direction: column;
    border: 1px solid #C1B6AD;
    border-radius: 40px;
    overflow: hidden;
}

#menu .menu-item .menu-item__img-container {
    overflow: hidden;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

#menu .menu-item img {
    display: block;
    height: 310px;
    transform: scale(1.1);
    width: auto;
    transition: transform 0.4s ease-in-out;
}

#menu .menu-item img:hover {
    transform: scale(1);
}

#menu .menu-item .menu-item__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
}

#menu .menu-item .menu-item__content h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    color: #403F3D;
    margin: 0;
}

#menu .menu-item .menu-item__content p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #403F3D;
    margin: 0;
}

@media (max-width: 1200px) {
    #menu h2 {
        margin: 0;
    }
}

@media (hover: hover) {
    #menu .tabs__button:hover {
        background-color: #665F55;
    }

    #menu .tabs__button:hover span {
        color: #E1D4C9;
    }

    #menu .tabs__button:hover div {
        background-color: #E1D4C9;
    }
}