html, body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #E1D4C9;
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 40px;
}

header {
    padding: 20px 0 16px 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 60px;
    line-height: 125%;
    color: #403F3D;
    margin: 0;
    text-align: center;
}

h2 span {
    font-style: italic;
    color: #B0907A;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container > a img {
    position: relative;
    transition: transform 0.5s ease-in-out;
    z-index: 1003;
}

header ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
    align-items: center;
    padding: 0;
}

header ul li a, header .menu {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #403F3D;
    font-family: Inter, sans-serif;
    font-weight: 600;
    padding-bottom: 4px;
}

header ul li a::after, header .menu::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #403F3D;
    width: 100%;
    transition: transform 0.4s ease-in-out;
}

header ul li a::after {
    transform: scaleX(0);
}

.burger-wrapper {
    display: none;
    width: 44px;
    height: 44px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
    border: 1px solid #665F55;
    border-radius: 100px;
    box-sizing: border-box;
}

.burger {
    width: 16px;
    height: 1.5px;
    background-color: #403F3D;
}

#burger .burger {
    position: relative;
    z-index: 1002;
    transition: 0.6s;
    transform: rotateZ(0);
}

#burger.active .burger:first-child {
    transform: rotateZ(-45deg);
    transition: 0.6s;
    top: 5px;
}

#burger.active .burger:last-child {
    transform: rotateZ(45deg);
    transition: 0.6s;
    bottom: 5px;
}

.burger-menu-wrapper {
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(100%);
    transition: 0.6s;
    z-index: 1001;
}

.burger-menu-wrapper.active {
    transform: translateX(0);
    transition: 0.6s;
}

#burger-menu {
    width: 100%;
    background: #E1D4C9;
    display: flex;
    flex-direction: column;
    gap: 96px;
    align-items: center;
    padding-top: 160px;
}

#burger-menu ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 56px;
    align-items: center;
    margin: 0;
}

#burger-menu ul li a {
    font-family: Inter, serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    color: #403F3D;
    text-decoration: none;
}

#burger-menu a {
    display: flex;
    gap: 16px;
    text-decoration: none;
    color: #403F3D;
    font-family: Inter, sans-serif;
    font-size: 32px;
    line-height: 125%;
    font-weight: 600;
}

body.wrapper-active {
    overflow: hidden;
}


@media (max-width: 768px) {
    .burger-wrapper {
        display: flex;
        z-index: 1002;
    }

    header ul, header .menu {
        display: none;
    }
}

@media (max-width: 760px) {
    .container {
        padding: 0 16px;
    }

    h2 {
        font-size: 32px;
    }
}

@media (hover: hover) {
    header ul li a:hover::after {
        transform: scale(1);
    }

    header .container > a:hover img {
        transform: scale(1.05);
    }
}