html, body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #E1D4C9;
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 40px;
}

header {
    padding: 20px 0 16px 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 60px;
    line-height: 125%;
    color: #403F3D;
    margin: 0;
    text-align: center;
}

h2 span {
    font-style: italic;
    color: #B0907A;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container > a img {
    transition: transform 0.5s ease-in-out;
}

header ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
    align-items: center;
    padding: 0;
}

header ul li a, header a:last-child {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #403F3D;
    font-family: Inter, sans-serif;
    font-weight: 600;
    padding-bottom: 4px;
}

header ul li a::after, header a:last-child::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #403F3D;
    width: 100%;
    transition: transform 0.4s ease-in-out;
}

header ul li a::after {
    transform: scaleX(0);
}

@media (max-width: 760px) {
    .container {
        padding: 0 16px;
    }

    h2 {
        font-size: 32px;
    }
}

@media (hover: hover) {
    header ul li a:hover::after {
        transform: scale(1);
    }

    header .container > a:hover img {
        transform: scale(1.05);
    }
}